*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

button{
    font-family: 'Inter', sans-serif;
}

path,i,svg{
    pointer-events: none;
}

.colors{
    min-height: 80vh;
    display: flex;
    color: rgb(139, 137, 137);
}

.color{
    min-height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2{
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: bold;
}

.sliders{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    padding: 2rem;
    width: 80%;
    border-top-left-radius: 1rem;
    font-weight: bold;
    color: black;
    /* pointer-events: none; */
    border-top-right-radius: 1rem;
    /* we are adding an adjustment class */
    /* transform: translateY(100px);  */
    /* opacity: 0; */
    transition: all 0.5s ease-in-out;
}
.sliders.active{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.sliders button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    background: rgb(48, 48, 48);
    color: white;
    border-radius: 1rem;
    font-size: 1.2rem;
}

/* slider input */
input[type="range"]{
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #ffffff;
  }

.controls{
    display: flex;
    flex-direction: column;
}
.controls button{
    padding: 1rem;
    border: none;
    margin: 1rem 0rem;
    border-radius: 1rem;
    background: white;
    font-size: 2.5rem;
}

.panels {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    text-align: center;
}
.panels button{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
    background: rgb(1, 1, 56);
    border-radius: 1rem;
    cursor: pointer;
}
.panels p{
    padding: 1rem;
    font-size: 2rem;
}